<div class="table-responsive border rounded shadow-lg mt-5" id="listar">
    <div class="row justify-content-end m-2">
        <div class="col-12 col-md-6">
            <div class="d-flex">
                <i class="fa-solid fa-magnifying-glass btn btn-light btn-sm"></i>
                <input type="search" class="form-control form-control-sm" id="buscar" placeholder="Buscar categorías">
            </div>
        </div>
    </div>
    <table class="table" id="tbl_listar">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
                <th scope="col">Usuario</th>
                <th scope="col">Agregada</th>
                <th scope="col">Actualizada</th>
                <th scope="col" colspan="2" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>