<form class="border rounded shadow-lg p-5 mt-5" id="form_agregar" hidden>
    {% csrf_token %}
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" name="id" id="id" hidden>
        <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Ingrese una descripción de la categoría">
    </div>
    <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>