<div class="modal fade" id="mdl_detalle_servicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p id="cliente"></p>
                    <p id="contacto"></p>
                    <p id="mano_obra"></p>
                    <p id="descripcion"></p>
                </div>
                <div class="table-responsive">
                    <table class="table" id="tbl_detalle_servicio">
                        <thead>
                            <tr>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Ganancia</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-end me-md-3">
                <h4 class="bg-light p-2" id="ganancia_detalle_servicio">Q 0.0</h4>
                <h4 class="bg-light p-2" id="subtotal_detalle_servicio">Q 0.0</h4>
            </div>
        </div>
    </div>
</div>