<div id="form_agregar" hidden>
    <div class="border rounded shadow-lg p-5 mt-5">
        <form id="form_mantenimiento">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-3 text-center">
                    <label for="cliente_id" class="form-label">Cliente:</label>
                    <div class="d-flex justify-content-center align-items-center">
                        <select name="cliente_id" id="cliente_id" class="form-select" style="width: 100%;"></select>
                        <i class="fa-solid fa-square-plus btn btn-primary btn-lg" id="agregar_cliente"></i>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <label for="tipo_pago_id" class="form-label">Tipo de pago:</label>
                    <select name="tipo_pago_id" id="tipo_pago_id" class="form-select"></select>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <label for="tipo_servicio_id" class="form-label">Tipo de servicio:</label>
                    <select name="tipo_servicio_id" id="tipo_servicio_id" class="form-select"></select>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <label for="rol_usuario_id" class="form-label">Técnico asignado:</label>
                    <select name="rol_usuario_id" id="rol_usuario_id" class="form-select"></select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-12">
                    <p id="telefono"></p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-12">
                    <label for="nota" class="form-label">Nota del técnico:</label>
                    <textarea class="form-control" rows="3" name="nota" id="nota"
                        placeholder="Área donde se visualiza las observaciones del técnico" readonly></textarea>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-12">
                    <label for="observacion" class="form-label">Descripción incial:</label>
                    <textarea class="form-control" rows="3" name="observacion" id="observacion"
                        placeholder="Describe el trabajo de mantenimiento a realizar (Obligatorio)"></textarea>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                    <div>
                        <label for="subtotal" class="form-label text-center">Subtotal del servicio:</label>
                        <h4 class="bg-light p-2 text-center" id="subtotal">Q. 00</h3>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                    <div>
                        <label for="ganancia" class="form-label text-center">Ganancia:</label>
                        <h4 class="bg-success text-white p-2 text-center" id="ganancia">Q. 00</h3>
                    </div>
                </div>
            </div>

            <div class="mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-primary mx-2" id="crear_servicio"><i
                        class="fa-solid fa-square-check"></i>
                    Crear Mantenimiento</button>
                <button type="button" class="btn btn-primary mx-2" id="actualizar_servicio" hidden><i
                        class="fa-solid fa-square-check"></i>
                    Actualizar Mantenimiento</button>
                <button type="button" class="btn btn-secondary" id="eliminar_servicio"><i class="fa-solid fa-trash"></i>
                    Vaciar</button>
            </div>
        </form>
    </div>
</div>