<form class="border rounded shadow-lg p-5 mt-5" id="form_agregar" hidden>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-3">
            <select name="cliente_id" id="cliente_id" class="form-select">
                <option value="">Seleccione el cliente</option>
                <option value="0">Consumidor final</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <select name="tipo_pago_id" id="tipo_pago_id" class="form-select">
                <option value="">Seleccione tipo de pago</option>
                <option value="1">Efectivo</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <select name="tipo_servicio_id" id="tipo_servicio_id" class="form-select">
                <option value="">Seleccione servicio</option>
                <option value="1">Venta</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <span class="btn btn-light" id="btn-buscar-productos">
                <i class="fa-solid fa-magnifying-glass p-1"></i>
                Buscar
            </span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 col-md-4">
            <textarea class="form-control" rows="3" name="observacion" id="observacion"
                placeholder="Espacio para observaciones o detalles (Opcional)"></textarea>
        </div>
        <div class="col-12 col-md-4">
            <input type="number" name="costo_servicio" id="costo_servicio" class="form-control"
                placeholder="Ingrese costo del servicio">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-end align-items-center">
            <h4 class="bg-light p-2" id="subtotal">Q. 00</h3>
        </div>
        <div>
            <select name="rol_usuario_id" id="rol_usuario_id" hidden>
                <option value="">Seleccione el técnico</option>
                <option value="1">Técnico</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table" id="tbl_listar_carrito">
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary mx-2" id="finalizar_servicio"><i
                class="fa-solid fa-square-check"></i>
            Finalizar servicio</button>
        <button type="button" class="btn btn-warning mx-2" id="actualizar_servicio"><i
                class="fa-solid fa-arrow-rotate-right"></i>
            Actualizar servicio</button>
    </div>
</form>

{% include 'compra/buscar_productos.html' %}