<div class="modal fade" id="mdl_garantia" tabindex="-1" aria-labelledby="mdl_garantiaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdl_garantiaLabel">Gestión de Garantía</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_garantia">
                    {% csrf_token %}
                    <input type="hidden" name="servicio_id" id="servicio_id">
                    <input type="hidden" name="garantia_id" id="garantia_id">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="observacion" class="form-label">Observaciones de la garantía:</label>
                            <textarea class="form-control" rows="3" name="observacion" id="observacion"
                                placeholder="Describe el problema o motivo de la garantía"></textarea>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="es_perdida" id="es_perdida">
                                <label class="form-check-label" for="es_perdida">
                                    ¿Es pérdida total?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table" id="tbl_garantia">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">#</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="crear_garantia">
                    <i class="fa-solid fa-square-plus"></i> Crear
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
