<div id="listar">
    <div class="table-responsive border rounded shadow-lg mt-5">
        <div class="row justify-content-end m-2">
            <div class="col-12 col-md-6">
                <div class="d-flex">
                    <i class="fa-solid fa-magnifying-glass btn btn-light btn-sm"></i>
                    <input type="search" class="form-control form-control-sm" id="buscar" placeholder="Buscar servicios de mantenimiento">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" id="tbl_listar">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Tipo de Pago</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Tipo de Servicio</th>
                        <th scope="col">Técnico</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Fecha de Actualización</th>
                        <th scope="col" colspan="4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="count"></p>
        </div>
        <div class="col">
            <nav aria-label="Search results pages">
                <ul class="pagination justify-content-end me-md-3" id="pagination">
                </ul>
            </nav>
        </div>
    </div>
</div>
