<div class="row my-2">
    <div class="col-12 col-md-6">
        <input type="search" class="form-control form-control-sm" id="buscar" placeholder="Buscar servicios de mantenimiento">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-end">
        <button class="btn btn-primary" id="agregar">
            <i class="fa-solid fa-plus"></i> Nuevo Mantenimiento
        </button>
    </div>
</div>
<div class="row my-2">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table" id="tbl_listar">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Tipo de Pago</th>
                        <th scope="col">Técnico</th>
                        <th scope="col">Tipo de Servicio</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Fecha de Actualización</th>
                        <th scope="col" colspan="4" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="row my-2">
    <div class="col-12 col-md-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-end">
        <p id="count"></p>
    </div>
</div>
