<form class="border rounded shadow-lg p-5 mt-5" id="form_agregar" hidden>
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombres" class="form-label">Nombres</label>
        <input type="text" class="form-control" name="id" id="id" hidden>
        <input type="text" class="form-control" name="nombres" id="nombres" maxlength="150">
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" id="apellidos" maxlength="150">
    </div>
    <div class="mb-3">
        <label for="nit" class="form-label">NIT</label>
        <input type="text" class="form-control" name="nit" id="nit" maxlength="15">
    </div>
    <div class="mb-3">
        <label for="cui" class="form-label">CUI</label>
        <input type="text" class="form-control" name="cui" id="cui" maxlength="15">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" maxlength="15">
    </div>
    <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" name="direccion" id="direccion" maxlength="250">
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" id="correo" maxlength="250">
    </div>
    <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>